<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400;1,500&display=swap" rel="stylesheet">

<div class="content_nav" >
    <div class="content_logo" >
        <h1>Auri<span>C</span>or</h1>
        <div class="content_nav" >
            <nav>
                <a routerLink="home">Home</a>
                <a href="#">About</a>
                <a routerLink="blog">Blog</a>
            </nav>
        </div>
        <div class="content_cart" >
            <picture>
                <img src="/assets/img/image-home/img-lupa.png" alt="">
            </picture>
            <picture>
                <img src="/assets/img/image-home/img-cart.png" alt="" >
            </picture>
        </div>
    </div>
</div>
<router-outlet />
