<div class="footer_pag" >
    <div class="footer_color" >
        <div class="footer_titulo" >
         <h4>Auri<span>C</span>or</h4>
         <div class="footer_parrafo" >
            <p>Our services are to provide people who need to have. <br> a better product experience. <br>
               and category quality
            </p>
         </div>
        </div>
        <div class="footer_contact" >
            <div class="footer_info" >
                <h3>CONTACT  US</h3>
            </div>
            <div class="footer_correo" >
                <div>
                    <picture>
                        <img src="/assets/img/image-home/image-telefo.png" alt="">
                        <div>
                            <p>018000745</p>
                        </div>
                   </picture>
                   <picture>
                    <img src="/assets/img/image-home/image-email.png" alt="">
                    <div>
                        <p>auricorgmail.com</p>
                    </div>
                   </picture>
                   <picture>
                    <img src="/assets/img/image-home/image-location.png" alt="">
                    <div>
                        <p>Chicago-EE.UU</p>
                    </div>
                   </picture>
                </div>
            </div>
        </div>
        <div class="footer_redes" >
            <picture>
                <img src="/assets/img/image-home/image-faceebok.png" alt="">
            </picture>
            <picture>
                <img src="/assets/img/image-home/image-twitter.png" alt="">
            </picture>
            <picture>
                <img src="/assets/img/image-home/image-instagram.png" alt="">
            </picture>
        </div>
    </div>
</div>
