span{
    color: rgba(52, 201, 221, 1);
}
h4{
    font-size: 4vh;
}

.footer_color{
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    justify-content: space-between;
    padding: 2vh 7vh;
}

.footer_titulo{
    display: flex;
    flex-direction: column;
    padding: 4vh 0;
}
.footer_titulo{
    font-size: 2.5vh;
}
.footer_contact{
    display: flex;
    flex-direction: column;
    padding: 4vh 0;
   
}
.footer_contact picture{
    padding: 1vh;
}
.footer_contact picture img{
    height: 4vh;
}
.footer_contact p{
    font-size: 2.5vh;
    padding: 0 1.5vh;
}
.footer_contact h3{
    font-size: 3vh;
}
.footer_redes{
    display: flex;
    align-items: center;
    gap: 2vh;
}
.footer_redes picture img{
    height: 6vh;
}
.footer_correo picture {
   display: flex;
}