
<div class="bg_fondo">
    <div class="bg_text" >
        <h3>The Renewal Of The Model</h3>
        <div class="bg_conte" >
            <p>In addition, they are resistant <br> to water and sweat, exercising <br>
             with certification
            </p>
        </div>
        <div class="super_button" >
            <button class="button" >see product</button>
        </div>
    </div>
</div>
<section>
    <div class="cont_conte" >
        <div class="cont_info" >
            <picture>
                <img src="/assets/img/img-about/img-blog1.png" alt="">
            </picture>
            <div class="cont_title" >
                <h3>headset differs greatly</h3>
            </div>
            <div class="conte_information" >
                <p>Although it is always appreciated that the charging time is as <br> 
                short as possible (models with USB-C surpass the most <br> 
                affordable ones with micro USB) and that it is comfortable  <br>
                (there are some with wireless charging), wireless headphones with <br> 
                charging are very attractive fast. Because in some cases a few  <br>  
                minutes of charging is enough for us to use them for hours.
            </p>
            </div>
        </div>
        <div class="cont_infor" >
            <picture>
                <img src="/assets/img/img-about/img-blog2.png" alt="">
            </picture>
            <div class="cont_title" >
                <h3>the possibility of extending your autonomy</h3>
            </div>
            <div class="conte_information" >
                <p>Although it is always appreciated that the charging time is as <br> 
                short as possible (models with USB-C surpass the most <br> 
                affordable ones with micro USB) and that it is comfortable  <br>
                (there are some with wireless charging), wireless headphones with <br> 
                charging are very attractive fast. Because in some cases a few  <br>  
                minutes of charging is enough for us to use them for hours.
            </p>
            </div>
        </div>
    </div>
</section>
<app-footer/>