<div class="bg_fonfo" >
 <div class="bg_mov" >
<div class="bg_container" >
    <h3>The Best Headphones</h3>
    <div class="bg_tex" >
        <p>Take advantage of this opportunity <br> 
           to experience the best of listening to <br> music</p>
    </div>
</div>
 </div>
</div>
<div class="container_cont" >
    <div  class="container_text" >
        <h3>Musical Autonomy</h3>
        <div class="container_blog"  >
            <div class="container_history" >
                <picture>
                    <img src="/assets/img/image-blog/image-history.png" alt="">
                </picture>
                <div class="flex_col" >
                    <div class="container_title" >
                        <h3>The Supraaural Or on Ear</h3>
                    </div>
                    <div class="container_parrafo" >
                        <p>Circumaurals are further divided into 
                            open or closed types. The former  
                            communicate with the outside, avoiding 
                            resonances, which results in a cleaner, 
                            clearer and clearer sound in high-mid 
                            frequencies and more controlled 
                            because the market for wireless headphones does not stop growing.
                            In this wireless headphones buying guide you will find a careful selection for all budgets.
                            Over-ear or circumaural headphones are the largest headphones. They completely cover the ear, surrounding it with the pads.
                           </p>
                    </div>
                </div>
            </div>
            <div class="container_histor" >
                <picture>
                    <img  class="contain_img" src="/assets/img/image-blog/image-blog1.png" alt="">
                </picture>
                <div class="flex_row" >
                    <div class="container_title" >
                        <h3>In Ear Grosso</h3>
                    </div>
                    <div class="container_parrafo" >
                        <p>Circumaurals are further divided into 
                            open or closed types. The former  
                            communicate with the outside, avoiding 
                            resonances, which results in a cleaner, 
                            clearer and clearer sound in high-mid 
                            frequencies and more controlled 
                            because the market for wireless headphones does not stop growing.
                            In this wireless headphones buying guide you will find a careful selection for all budgets.
                            Over-ear or circumaural headphones are the largest headphones. They completely cover the ear, surrounding it with the pads. </p>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="gallery_text" >
    <h3>Music Gallery</h3>
</div>
<div class="gallery_cont" >
    <div  class="gallery_image" >
        <picture>
            <img src="/assets/img/image-blog/image-gallery1.png" alt="">
        </picture>
        <picture>
            <img src="/assets/img/image-blog/image-gallery2.png" alt="">
        </picture>
        <picture>
            <img src="/assets/img/image-blog/image-gallery3.png" alt="">
        </picture>
    </div>
</div>
<div  class="container_avatar" >
    <div class="container_ava" >
        <picture>
            <img src="/assets/img/image-blog/img-avatar.png" alt="">
        </picture>
        <p>Jorgue Mark</p>
        <div class="avatar_testi" >
            <p>headband or in-ear headphones, it remains to know <br>
                the figure of what is considered a good battery. <br>
                The models that fall into the range of 24-30 <br>
                hours of playback
            </p>
        </div>
    </div>
</div>
<app-footer/>