.bg_fonfo{
    padding: 2vh 4.5vh;
}
.bg_mov{
    background-image: url(/assets/img/image-blog/hero-blog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.bg_container{
    padding: 9vh 9vh;
}
h3{
    font-size: 8vh;
}
p{
    font-size: 5vh;
}
.container_text h3{
    font-size: 5vh;
    color: rgba(52, 201, 221, 1);
}
.container_title h3{
    color: black;
    text-align: left;
}
.container_parrafo p{
 font-size: 3.5vh;
 text-align: left;

}
.container_blog img{
    height: 50vh;
    border-radius: 4px;
}
.container_history{
display: flex;
}
.flex_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7vh;
}
.container_histor{
    display: flex;
    flex-direction: row-reverse;
}
.container_histor img{
    padding: 0 2vh;
}
.flex_row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_text{
    text-align: center;
}
.container_blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 4vh;
}
.gallery_text h3{
    text-align: center;
    font-size: 5vh;
    color: rgba(52, 201, 221, 1);
}