<div class="bg_fonfo" >
 <div class="bg_mov" >
<div class="bg_container" >
    <h3>The Best Headphones</h3>
    <div class="bg_tex" >
        <p>Take advantage of this opportunity <br> 
           to experience the best of listening to <br> music</p>
    </div>
</div>
 </div>
</div>
<div class="container_cont" >
    <div  class="container_text" >
        <h3>Musical autonomy</h3>
        <div class="container_blog"  >
            <div class="container_history" >
                <picture>
                    <img src="/assets/img/image-blog/image-history.png" alt="">
                </picture>
                <div class="container_title" >
                    <h3>The Supraaural Or on Ear</h3>
                </div>
                <div class="container_parrafo" >
                    <p>Circumaurals are further divided into <br> 
                        open or closed types. The former  <br> 
                        communicate with the outside, avoiding <br> 
                        resonances, which results in a cleaner, <br>  
                        clearer and clearer sound in high-mid <br> 
                        frequencies and more controlled </p>
                </div>
                <div class="container_histor" >
                    <picture>
                        <img src="/assets/img/image-blog/image-blog1.png" alt="">
                    </picture>
                    <div class="container_title" >
                        <h3>The Supraaural Or on Ear</h3>
                    </div>
                    <div class="container_parrafo" >
                        <p>Circumaurals are further divided into <br> 
                            open or closed types. The former  <br> 
                            communicate with the outside, avoiding <br> 
                            resonances, which results in a cleaner, <br>  
                            clearer and clearer sound in high-mid <br> 
                            frequencies and more controlled </p>
                    </div>
            </div>
        </div>
    </div>
</div>
